:root {
  --bi-color-text: #4a4a4a;
  --bi-color-active-text: #fff;
  --bi-color-background: #fff;
  --bi-color-border: #9abbce;
  --bi-color-border-2: #dfe5ec;
  --bi-color-neutral-1: #a0b0b9;
  --bi-color-neutral-2: #f1fcff;
  --bi-color-brand: #2196f3;
  --box-shadow-style: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
  --transition-style: 0.3s ease;
}
